[user]
  name = canftin
	email = wwc7033@gmail.com
[credential]
	helper = store
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
